@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(0, 8, 28, 0.923);
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: rgb(246, 246, 246);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(246, 246, 246);
}
