@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(249, 247, 255);
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: rgb(246, 246, 246);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(246, 246, 246);
}
